#heart {
   height: 1.25rem;
   width: 1.25rem;
   /*border: .125rem solid black;*/
   position: relative;
   transform: rotate(45deg);
   background-color: red;

   position: absolute;
   bottom: 50%;
   right: 20px;
}
#heart:before,
#heart:after {
   content: '';
   width: 1.25rem;
   height: 1.25rem;
   /*border: .125rem solid black;*/
   border-radius: 50%;
   position: absolute;
   left: -0.625rem;
   background-color: red;
}
#heart:after {
   left: 0;
   top: -0.625rem;
}
