@import '~taro-ui/dist/style/components/button.scss';
@import '~taro-ui/dist/style/components/loading.scss';

.webview-box {
   margin-top: 20px;
}
.webview {
   margin-top: 20px;
}
.switch-btn {
   display: flex;

   position: absolute;
   z-index: 9999;
   top: 10px;

   .btn {
      width: 20px;
   }
}
