.page-swiper {
   height: 100vh;
}

.pageSwiperItem {
   height: 100vh;
}
.swiper-video {
   height: 100%;
   width: 100%;
}
.test-Swiper {
   height: 100vh;
}

.swiper-image {
   height: 100vh;
}

.photo-swiper {
   width: 100%;
   height: 100%;
}
